html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset */
header li {
	display: inline;
	color: black;
  }
  nav {
	text-align: center;
	margin: 30px 0;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
  }
  a {
	text-decoration: none;
	color: black;
  }
  .contactus-page {
	margin: 0 66px;
  }
  
  /* main */
  .most-saled-products h3 {
	text-align: center;
	margin: 72px 0 65px 0;
  }
  .all-products {
	display: flex;
	margin-left: 126px;
	margin-right: 105px;
  }
  .products {
	margin-right: 112px;
	border: 1px solid black;
	padding: 8px;
  }
  .products h5 {
	font-size: 16px;
	font-family: "poppins";
	margin: 10px;
  }
  .products p {
	margin: 10px;
	font-family: "poppins";
	font-size: 14px;
  }
  button {
	margin-left: 207px;
	margin-top: 23px;
	padding: 6px 26px;
	background-color: white;
	border: 1px solid black;
  }
  .list-products ul {
	display: inline-block;
	text-align: center;
	margin-top: 82px;
	margin-left: 131px;
  }
  .middle {
	margin-left: 187px;
	margin-right: 56px;
  }
  
  /* contactus */
  
  h1 {
	color: #7d0000;
	font-size: 40px;
	letter-spacing: 0.03em;
	margin-top: 85px;
	text-align: center;
	text-transform: capitalize;
  }
  .contact-page {
	margin-left: 206px;
	margin-top: 132px;
  }
  p {
	font-size: 25px;
	/* font-style: italic; */
	margin-bottom: 32px;
	letter-spacing: 0.003em;
  }
  
  /* aboutus*/
  
  .aboutus h1 {
	color: #7d0000;
	font-size: 40px;
	letter-spacing: 0.03em;
	margin-top: 85px;
	text-align: center;
	text-transform: capitalize;
  }
  .aboutus-page {
	margin: 118px 490px 59px 175px;
  }
  .aboutus-page p {
	font-size: 25px;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	line-height: 2.4rem;
	color: black;
  }
  .adress {
	font-style: italic;
  }


